*{
  font-family: helvetica, Arial;
  background: rgb(45, 45, 45);
  color: rgb(102, 153, 204);
}
h2{
  color: rgb(242, 119, 122);
}
.chinese {
  color: rgb(204, 153, 204);
}
.numbers {
  color: rgb(250, 145, 87);
}